{
  "mysql": {
    "host": "",
    "user": "",
    "pass": "",
    "name": "",
    "options": null
  },
  "bolt": {
    "host": "{{ semaphore_home }}/database.boltdb",
    "user": "",
    "pass": "",
    "name": "",
    "options": null
  },
  "postgres": {
    "host": "",
    "user": "",
    "pass": "",
    "name": "",
    "options": null
  },
  "dialect": "bolt",
  "port": "{{ semaphore_port }}",
  "interface": "0.0.0.0",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "9ndU8jqmPoQDOu0mPdzV3WZ3xJMlSu1DEc3ejP57Ulc=",
  "cookie_encryption": "1PyWFyG7WrQh20yo9t2CHZ9HEOU+K71dNa4AsvH7+e0=",
  "access_key_encryption": "NWkBNdjl7TZzMZIeUQL1g7tWFvkYy6L92b634Wwnvqk=",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "email_username": "",
  "email_password": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": "",
  "max_parallel_tasks": 0,
  "email_alert": false,
  "email_secure": false,
  "telegram_alert": false,
  "slack_alert": true,
  "ldap_enable": false,
  "ldap_needtls": false,
  "ssh_config_path": "",
  "demo_mode": false
}